.DS_Store
__MACOSX/
.idea/
.gradle/
local.properties

desktop/node_modules/
desktop/dist/

android/FocusGramAndroid/.gradle/
android/FocusGramAndroid/app/build/
android/FocusGramAndroid/build/

release-files/

*.apk
*.aab
*.dmg
*.exe
*.AppImage
*.deb
*.blockmap
